/* footer区域 */

.footer {
    width: 100%;
    height: 138px;
    padding-top: 49px;
    margin-bottom: 100px;
    /* background-color: antiquewhite; */
}

.footer .footer_c {
    height: 138px;
}

.footer .login_method {
    float: left;
    width: 312px;
    height: 138px;
    border-right: 1px solid #e8e8e8;
}

.footer .login_method .login_method_btn {
    display: block;
    width: 180px;
    height: 40px;
    margin-bottom: 16px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #00b38a;
    color: #00b38a;
    position: relative;
}

.footer .login_method .login_method_btn:hover {
    background-color: #00b38a;
    color: #fff;
}

.footer .login_method .login_method_btn i {
    margin-right: 7px;
    vertical-align: middle;
}

.footer .login_method .login_method_btn span {
    vertical-align: middle;
}

.footer .login_method .login_method_btn img {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 185px;
    top: -5px;
    z-index: 1001;
    border: 1px solid #ccc;
    box-shadow: 6px 7px 14px #555;
}

.footer .service {
    float: left;
    width: 850px;
    height: 138px;
    padding-left: 130px;
}

.footer .service p {
    height: 23px;
    font-size: 17px;
    font-weight: bold;
    line-height: 23px;
    color: #555;
    margin-bottom: 27px;
}

.footer .service a {
    display: block;
    height: 32px;
    line-height: 32px;
}

.comparyService,
.userService,
.contactInformation {
    float: left;
    margin-right: 160px;
}

.copy_right dt,
.copy_right dd {
    float: left;
}