.navBar {
  display: block;
  position: fixed;
  left: 300px;
  top: 50px;
  height: 80px;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.navWrap {
  display: flex;
}
.navWrap li {
  font-size: 20px;
  cursor: pointer;
}
.navWrap li .iconfont {
  font-size: 26px;
  margin-left: 15px;
}
.navWrap li {
  margin-right: 20px;
}
.navWrap li:hover,
.navWrap li:active {
  color: #f9d163;
}
.search {
  width: 300px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 30px;
}
.search .iconfont {
  right: 50px;
  color: #fff;
  line-height: 30px;
}
.search input {
  background: none;
  border: none;
  width: 270px;
  font-size: 16px;
  color: #fff;
  padding-left: 20px;
}
