/* 引入后台管理公共样式 */
@import url(common/backcommon.css);

.right .category {
  overflow: hidden;
}
.right .category li {
  width: 300px;
  height: 300px;
  margin: 0 10px 20px;
  border-radius: 5px;
  float: left;

  background-color: #fff;
  border: 1px solid #ccc;

  float: left;
  position: relative;
}
.category li div {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}
.category li .icon {
  justify-content: center;
  flex-direction: column;
}
.icon .iconfont {
  font-size: 150px;
  margin-bottom: 20px;
  color: #ff8400;
}
.icon .name {
  font-size: 30px;
  color: #aaa;
}
.eidt {
  justify-content: space-around; /*分散居中对齐*/
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
}
.eidt span {
  color: #dbdbdb;
  font-size: 80px;
  cursor: pointer;
}
.eidt span:hover {
  color: #ff8400;
}
.category li:hover .eidt {
  opacity: 1;
  transition: 0.4s;
}
.add {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add span {
  font-size: 200px;
  color: #ccc;
}
.add:hover {
  background-color: #eee;
  transition: 0.4s;
}
