@font-face {
  font-family: "iconfont"; /* Project id 2761453 */
  src: url('iconfont.woff2?t=1635048646381') format('woff2'),
       url('iconfont.woff?t=1635048646381') format('woff'),
       url('iconfont.ttf?t=1635048646381') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e642";
}

.icon-shanchu:before {
  content: "\e602";
}

.icon-caipin:before {
  content: "\e627";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-fanzhuo:before {
  content: "\e61b";
}

.icon-shouye:before {
  content: "\e629";
}

.icon-jianshao:before {
  content: "\e64c";
}

.icon-jiajian-jia:before {
  content: "\ea44";
}

.icon-jian:before {
  content: "\e607";
}

.icon-icon_jiajianjia2x:before {
  content: "\e684";
}

.icon-chufang:before {
  content: "\e614";
}

.icon-canju:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-tiandian:before {
  content: "\e61f";
}

.icon-liangcai:before {
  content: "\e613";
}

.icon-zhushi:before {
  content: "\e60d";
}

.icon-recai:before {
  content: "\e60f";
}

.icon-tuijian:before {
  content: "\e620";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-yixuanzuowei:before {
  content: "\e616";
}

.icon-zuowei:before {
  content: "\e618";
}

.icon-caidanguanli:before {
  content: "\e636";
}

.icon-tianjia:before {
  content: "\e63b";
}

.icon-zhankai:before {
  content: "\e63f";
}

.icon-dingdanguanli:before {
  content: "\e640";
}

.icon-kaquanguanli:before {
  content: "\e641";
}

.icon-xitongguanli:before {
  content: "\e644";
}

.icon-shiwu-:before {
  content: "\ebc9";
}

